body{
    margin: 0;
}

.topnav {
    background-color: #222831;
    overflow: hidden;
    
    
  }
  
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 10px;
    margin-right: 120px;
    font-family: 'Chivo Mono', monospace;

    
  }
  
  
  .rest:hover {
    
    text-decoration: underline;
    text-decoration-color: antiquewhite ;
    text-decoration-thickness: 2px ;
  }
  
  
  
  .topnav a.split {
    float: left;
    margin-left: 120px;
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
    
  }
  span{
    color: #0092ca; 
  }

        
    